# Ignore generated card data
cards.json
cards_metadata.json
#ignore credentials
credentials.txt
# Build artifacts
build/
dist/

# Local environment
.venv/
*.log

# Keep folders, ignore their contents
Buttons/*
Acc_1/*
Acc_2/*
Acc_3/*
!Buttons/.gitkeep
!Acc_1/.gitkeep
!Acc_2/.gitkeep
!Acc_3/.gitkeep


